.intro-pages {
  height: 50vh;
  width: 50vw;
  border: 2px solid black;
  top: 20vh;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  min-width: 300px;
  min-height: 250px;
}
.intro-title {
  padding: 10px;
  text-align: center;
  position: relative;
  top: 30%;
}
#link-container {
  display: flex;
  flex-direction: row;
  align-content: center;
  position: relative;
  top: 50%;
}
