#Form-container{
   float: right;

}

.Box{
/*  background-color: rgba(27,28,30,0.5);*/
  align-self: center;
  width: 200px;
  height: 100px;
  display: flex;
  flex-direction: column;
  /*flex-wrap: wrap;*/
  align-items: center;
 /* margin: 60px auto;*/
  border-radius: 8px;
  margin-right:20px;
  border: 1px solid #444444;
  /*overflow: scroll;*/
  animation: shwoop .5s ease-in-out;
  transform: scaleY(1);
}

@keyframes shwoop {
  0% {
    top: (0px);
    transform: scaleX(0);
  }
  100% {
    bottom: (100px);
    transform: scaleX(1);
  }
}
.signup-inputContainer input{
  display: flex;
/*  flex-direction: row;*/
  flex-wrap: wrap;
  justify-content: center;
  margin: 5px;

  border-radius: 4px;
  height: 30px;
  width: 100px;
}

.signup-inputContainer button{
  background-color: #64E279;
  border-radius: 4px;
  margin: 0 5px;
}
