/*.garden-item{
  float: right;
  height: 300px;
  width: 200px;
  overflow: auto;
  border: 2px solid black;
}
*/
/*.quadrant-container {
  background-color: orange;
  width: 300px;
  height: 190px;
}*/
.garden-item {
  background-color: lightblue;
  margin-left: 525px;
  width: 36vw;
  padding: 10px;
  margin-top: 100px;
}

.quadrant-item {
  background-color: lightgreen;
  width: 190px;
  padding: 10px;
  margin-top: 15px;
  display: inline-block;
  margin-left: -50px;
  margin-bottom: -17px;
  border: 2px solid black;
}

.quadrant-container {
  /*margin-top: -190px;*/
  width: 600px;
  /*background-color: orange;*/
  margin-left: 40%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.userProdInput {
  font-size: 15px;
  width: 90px;
}

.quadrant-item:hover {
  background-color: red;
}

.quadrantSelectButton {
  font-size: 15px;
  padding: 10px;
  width: 180px;
  /*margin: auto;*/
}

.reserveButton {
  font-size: 20px;
  padding: 10px;
}

.dataFromDB {

}

.productUserPopup {
  background-color: lightpink;
  visibility: visible;
}

.productUserPopupHide {

}
