/*.garden-item{
  float: right;
  height: 300px;
  width: 200px;
  overflow: auto;
  border: 2px solid black;
}
*/
/*.quadrant-container {
  background-color: orange;
  width: 300px;
  height: 190px;
}*/
.garden-item {
  background-color: lightblue;
  margin-left: 525px;
  width: 36vw;
  padding: 10px;
  margin-top: 100px;
}

.quadrant-item {
  background-color: lightgreen;
  width: 16vw;
  margin-left: 525px;
  padding: 10px;
  margin-top: 15px;
  /*display: inline;*/
}

.quadrant-item:hover {
  background-color: red;
/*  width: 16vw;
  margin-left: 525px;
  padding: 10px;*/
  /*display: inline;*/
}

.quadrantSelectButton {
/*  font-size: 25px;
  padding: 30px;*/
  font-size: 15px;
  padding: 10px;
}

.productUserPopup {
  /*margin-top: -100px;*/
  /*position: absolute;*/
  background-color: lightpink;
  visibility: visible;
}
