
#idQuadNum {
  width: 100px;
  margin: auto;
  padding: auto;
}
.quadrant-item {
  /*background-color: lightgreen;*/
  background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSuRzsbRW3yjsVaiDGAqyaLFSkvyRdzZJDB6X8tLp4temRm4ity') no-repeat;
  width: 190px;
  padding: 10px;
  margin-top: 15px;
  display: inline-block;
  margin-left: -50px;
  margin-bottom: -17px;
  border: 3px solid black;
}

.quadrant-container {
  margin-top: 25px;
  width: 600px;
  /*background-color: orange;*/
  margin-left: 40%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.userProdInput {
  font-size: 15px;
  width: 60px;
}

.quadrant-item:hover {
  background: url('http://previews.123rf.com/images/grigory_bruev/grigory_bruev1401/grigory_bruev140100036/24858064-Background-of-newly-plowed-field-ready-for-new-crops-Ploughed-field-in-autumn-Farm-agricultural-back-Stock-Photo.jpg') no-repeat;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.quadrantSelectButton {
  font-size: 15px;
  padding: 10px;
  width: 180px;
  /*margin: auto;*/
}

.quadrantSelectButton:active{
  background-color: orange;
}

.reserveButton {
  font-size: 15px;
  /*padding: 10px;*/
  height: 30px;
  width: 175px;
  background-color: orange;
}

.reserveButton:active{
  background-color: yellow;
}

.dataFromDB {
  display: inline-block;
  /*color: #606060;*/
}

.dbNumber {
  display: inline-block;
  width: 20px;
  text-align: center;
  margin-left: 4px;
}



